body{
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;

    margin: 0;
    background-color: #0f4c75;
}

.link{
    color: #0f4c75;
}

.titulo{
    margin-top: 100px;
    color: azure;
    text-align: center;
}

.au{
    color: azure;
    font-size: xx-small;
}