<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="ExampleActivityHealthChecker" class="Turing.Turing_Fintech.ExampleActivityHealthChecker" />

	<bean id="ExampleActivityFactory" class="Turing.Turing_Fintech.ExampleActivityFactory">
		<property name="edits" ref="edits" />
	</bean>

</beans>
